################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/InvesTime.Tests/obj/Debug/net7.0/InvesTime.Tests.csproj.AssemblyReference.cache
