################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/bin
/.vs
/InvesTime.Backend/InvesTime.csproj.user
/InvesTime.Backend/InvesTime.sln.DotSettings.user
